[user]
	name = yamahare
	email = jidai.norio@gmail.com
[core]
	editor = /usr/local/bin/nvim
	excludesfile = ~/.gitignore_global
[color]
  ui = true
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[mergetool]
	keepBackup = false
[merge]
	tool = opendiff
